* {
  font-family: 'akto-sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box; }

html {
  background-color: black; }

body {
  background-color: white; }

a {
  color: inherit; }

input:focus {
  outline: none; }

/*.in {
  background-color: #000000;
  text-align: center;
  color: #FFFFFF;
  height: 100%;
  padding: 7em 0;
  background-color: #000000; }
  .in h1 {
    font-size: 4em;
    font-weight: 100;
    margin: 0; }
  .in .text {
    width: 30em;
    height: 3em;
    border: 1px solid #FFFFFF;
    padding: 0 0.5em;
    margin: 0.5em 0; }
    @media screen and (max-width: 650px) {
      .in .text {
        width: 90%; } }
  .in .button {
    width: 30em;
    height: 3em;
    color: #FFFFFF;
    background: none;
    border: 1px solid #FFFFFF;
    margin: 0.5em 0; }
    @media screen and (max-width: 650px) {
      .in .button {
        width: 90%; } }
    .in .button:hover {
      background-color: #8BDA48;
      border: 1px solid #8BDA48;
      -webkit-transition: all 0.8s;
      -moz-transition: all 0.8s;
      transition: all 0.8s;
      opacity: 1;
      cursor: pointer; }
  .in .ta {
    text-align: center; }
    .in .ta textarea {
      width: 30em;
      height: 10em; }
      @media screen and (max-width: 650px) {
        .in .ta textarea {
          width: 90%; } }
*/


