* {
  font-family: 'akto-sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box; }

html {
  background-color: black; }

body {
  background-color: white; }

a {
  color: inherit; }

input:focus {
  outline: none; }


