{% macro render_flash_messages() %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}"><p>{% if category != "neutral" %}{{ category.capitalize()+": " }}{% endif %}{{ message }}</p><div class="close"><div class="icon-container"><i class="close-icon fa fa-times" onclick="var f = document.getElementsByClassName('flashes')[0]; f.classList.add('fade-out')"></i></div></div></li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endmacro %}

{% macro render_field(field, disabled = false, char_limit = None) %}
  <div class="form-elt {% if field.errors %}error{% endif %}">
    {% if field.type == "TextAreaField" %}
      <p>{{ field.label }}</p>
      {{ field(placeholder = field.description, maxlength = field.max, disabled = disabled) }}
      {% if char_limit != None %}
        <p class="count" id="{{ field.name }}">Characters left: {{ char_limit }}</p>
      {% endif %}
    {% else %}
      {{ field(placeholder = field.description, disabled = disabled) }}
    {% endif %}
    {% if field.errors %}
      <p class="error-msg">{{ field.errors[0] }}</p>
    {% endif %}
  </div>
{% endmacro %}

<!DOCTYPE html>
<html>
  <head>
   <title>hackBCA IV</title>
    <link rel="icon" href="https://s3.amazonaws.com/hackbcaiv/favicon.png">
    <meta name="X-UA-Compatible" content="ie=edge,chrome=1">

    <meta name="mobile-web-app-capable" content="true">
    <meta name="apple-mobile-web-app-capable" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- Basic Metadata-->
    <meta name="title" content="hackBCA IV — Lighting the Torch">
    <meta name="description" content="Lighting the Torch">
    <meta name="keywords" content="hack, bca, hackbca, hackathon, mlh">
    <meta property="url" content="http://hackbca.com/">

    <!-- Open Graph Data -->
    <meta property="og:title" content="hackBCA">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="hackBCA IV: Lighting the Torch">
    <meta property="og:url" content="http://hackbca.com/">
    <meta property="og:image" content="https://s3.amazonaws.com/hackbcawebsite/landing.png">
    <meta property="og:site_name" content="hackBCA" />
    <meta property="fb:admins" content="1762730074" />

    <!-- Twitter Card Data -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:creater" content="hackBCA">
    <meta name="twitter:site" content="@hackBCA">
    <meta property="twitter:description" content="hackBCA IV:Lighting the Torch">
    <meta property="twitter:image" content="https://s3.amazonaws.com/hackbcawebsite/landing.png">
    <meta property="twitter:title" content="hackBCA">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- su -->
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/{% block static_folder %}{% endblock %}/css/style.css">

    <!-- su -->
     {% block scripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    {% endblock %}
  </head>
  <body>
  {{ render_flash_messages() }}
    {% block content %}{% endblock %}
  </body>
</html>