<footer class="footer">
			<!-- <br><h1>hackBCA IV: Lighting the Torch</h1> -->
			<div class="contact">
				<h2>Contact</h2>
				<p>200 Hackensack Ave, Hackensack, NJ 07650</p>
				<p>contact@hackbca.com</p>
			</div>
			<div class="links">
				<a href="mailto:contact@hackbca.com" class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
				<a href="http://facebook.com/hackBCA" class="icon"><i class="fa fa-facebook" aria-hidden="true"></i></i></a>
				<a href="http://twitter.com/hackBCA" class="icon"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="http://github.com/hackbca" class="icon"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
			</div>
			<small class="copyright">&copy; 2016 hackBCA</small>
		</nav>
</footer>