<div class="hero">
<div class="nav">
      {% for href, caption, active in nav_bar %}
    <a class="no-mobile menu-item {% if active %}active{% endif %}" href="{{ href|e }}" data-scroll><p>{{ caption|e }}</p></a>
      {% endfor %}

      {% if current_user.is_authenticated %}
      <a href="/logout" class="no-mobile account-item"><p>Logout</p></a>
        <a href="/account" class="no-mobile account-item"><p>Account <span>({{ current_user.full_name() }})</span></p></a>
      {% else %}
        {% if config['REGISTRATION_ENABLED'] %}
          <a href="/register" class="account-item"><p>Register</p></a>
        {% endif %}
          <a href="/login" class="account-item"><p>Login</p></a>
      {% endif %}

</div>
<div class="nav" id="scroll-nav">
     {% for href, caption, active in nav_bar %}
    <a class="no-mobile menu-item {% if active %}active{% endif %}" href="{{ href|e }}" data-scroll><p>{{ caption|e }}</p></a>
      {% endfor %}

      {% if current_user.is_authenticated %}
      <a href="/logout" class="no-mobile account-item"><p>Logout</p></a>
        <a href="/account" class="no-mobile account-item"><p>Account <span>({{ current_user.full_name() }})</span></p></a>
      {% else %}
        {% if config['REGISTRATION_ENABLED'] %}
          <a href="/register" class="account-item"><p>Register</p></a>
        {% endif %}
          <a href="/login" class="account-item"><p>Login</p></a>
      {% endif %}
</div>
