<div class="info">
	<img src="{{ url_for('static', filename='img/hackbcalogo.png') }}" class="logo">
	<h1>hackBCA IV:<br>Lighting the Torch</h1>
	<h2>hackBCA IV is the fourth annual hackathon hosted at the Bergen County Academies. hackBCA is open to all high school students who are interested in exploring computer science. Prior programming experience is not needed: we're here for anyone who wants to learn, meet new people, and create something awesome.</h2>
	

	<img src="{{ url_for('static', filename='img/eventphoto1.jpg') }}" class="info-pic">
		<img src="{{ url_for('static', filename='img/eventphoto2.jpg') }}" class="info-pic">
	<img src="{{ url_for('static', filename='img/eventphoto3.jpg') }}" class="info-pic">
</div>

