<section class="jumbo jumbo--padding">
    <div class="jumbo__statement">
        <hgroup class="jumbo__statement__group">
            <h1 class="jumbo__statement__header">hackBCAIV:<br>Lighting&nbsp;the&nbsp;Torch</h1>
            <p class="jumbo__statement__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dignissim dolor et ante pulvinar, eget euismod tortor tempor. Nulla euismod quam quis lacinia tincidunt. Morbi non nisi leo.
            </p>
        </hgroup>
    </div>
    <figure class="jumbo__img__container flex-center">
        <img class="jumbo__img" />
    </figure>
</section>

<section class="jumbo bg-black">
    <video id="video">
    </video>
    <time>
        <!--<span time-type="months">02</span><span time-type="days">10</span><span time-type="hours">40</span>-->
    </time>
</section>