    <div class="info">
      <div class="info-1">
        <h1>hackBCA IV:<br>Lighting the Torch</h1>
        <h2>hackBCA IV is the fourth annual hackathon hosted at the Bergen County Academies. hackBCA is open to all high school students who are interested in exploring computer science. Prior programming experience is not needed: we're here for anyone who wants to learn, meet new people, and create something awesome.</h2>
      </div>
      <div class="info-1">
      <h1>When?</h1>
        <h2 class="subtext">March 25 (opens at 10:00AM) - March 26 (11:30AM), 2017.</h2>
        <h1>Where?</h1>
        <h2 class="subtext">Bergen County Academies, in Hackensack NJ.</h2>
        <h2 class="subtext">(The NJ Transit 175 Bus from NYC GW Bridge Bus Terminal stops extremely close to BCA.)</h2>
        <!--<img src="https://s3.amazonaws.com/hackbcaiv/web_static/info-pic.jpg">-->
      </div>
    </div>