<section class="jumbo jumbo--padding" id="faq">
    <h1 class="section__header">FAQ</h1>
    <div class="flex-container flex-row-space-between" id="faq__container">
        <div class="faq__container">
            <div class="faq">
                <div class="faq__front" onclick="flipped()">
                    <h1 class="faq__question">What is a hackathon?</h1>
                </div>
                <div class="faq__back">
                    <p class="faq__answer">A hackathon is an overnight coding event in which teams spend the weekend “hacking” together to create an awesome project such as a game, website, or app! Hackathons are also a place to meet new people and even make a project with new people. If someone is new to coding, there are many workshops available to learn how to code or to learn a new programming language.</p>
                </div>
            </div>
        </div>

        <div class="faq__container">
            <div class="faq">
                <div class="faq__front" onclick="flipped()">
                    <h1 class="faq__question">Who can attend?</h1>
                </div>
                <div class="faq__back">
                    <p class="faq__answer">Any high school student can attend hackBCA IV who lives within a one hour drive from The Bergen County Academies in Hackensack, NJ. If you live outside the one hour radius, a chaperone or family member must be in the area of the event. Questions? contact@hackbca.com</p>
                </div>
            </div>
        </div>

        <div class="faq__container">
            <div class="faq">
                <div class="faq__front" onclick="flipped()">
                    <h1 class="faq__question">What should I bring?</h1>
                </div>
                <div class="faq__back">
                    <p class="faq__answer">You should bring your laptop or desktop, school ID, phone, charging cables, and any hardware you plan on using. Power strips, personal hygiene products, and an extra set of clothes are also recommended. Mainly, bring your awesome self!</p>
                </div>
            </div>
        </div>

        <div class="faq__container">
            <div class="faq">
                <div class="faq__front" onclick="flipped()">
                    <h1 class="faq__question">Can I work alone?</h1>
                </div>
                <div class="faq__back">
                    <p class="faq__answer">You can work on a project individually or with a team. You can come as a team, or form a team at the event. We will have team formation activities at the beginning of the event for anybody looking for team.</p>
                </div>
            </div>
        </div>
    </div>
</section>