<div class="faq">
    <h1>FAQ</h1>
    <div class="question">
        <h2>What is a hackathon?</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque molestie metus eu pellentesque. Etiam aliquam imperdiet maximus.</h3>
    </div>
    <div class="question">
        <h2>Who can attend?</h2>
        <h3>Cras eget nisl augue. Nunc eu massa condimentum, pretium nibh at, sagittis tortor. Donec fermentum, sem at imperdiet dapibus, est leo consequat tellus, et semper ante ante sed diam. </h3>
    </div>
    <div class="question">
        <h2>What is a hackathon?</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque molestie metus eu pellentesque. Etiam aliquam imperdiet maximus.</h3>
    </div>
    <div class="question">
        <h2>Who can attend?</h2>
        <h3>Cras eget nisl augue. Nunc eu massa condimentum, pretium nibh at, sagittis tortor. Donec fermentum, sem at imperdiet dapibus, est leo consequat tellus, et semper ante ante sed diam. </h3>
    </div>
</div>