<section class="jumbo jumbo--padding" id="faq">
    <h1 class="section__header">FAQ</h1>
    <div class="flex-container flex-row-space-between" id="faq__container">
        <div class="faq__container">
            <div class="faq">
                <div class="faq__front" onclick="flipped()">
                    <h1 class="faq__question">What is a hackathon?</h1>
                </div>
                <div class="faq__back">
                    <p class="faq__answer"></p>
                </div>
            </div>
        </div>

        <div class="faq__container">
            <div class="faq">
                <div class="faq__front" onclick="flipped()">
                    <h1 class="faq__question">Who can attend?</h1>
                </div>
                <div class="faq__back">
                    <p class="faq__answer"></p>
                </div>
            </div>
        </div>

        <div class="faq__container">
            <div class="faq">
                <div class="faq__front" onclick="flipped()">
                    <h1 class="faq__question">What should I bring?</h1>
                </div>
                <div class="faq__back">
                    <p class="faq__answer"></p>
                </div>
            </div>
        </div>

        <div class="faq__container">
            <div class="faq">
                <div class="faq__front" onclick="flipped()">
                    <h1 class="faq__question">Can I work alone?</h1>
                </div>
                <div class="faq__back">
                    <p class="faq__answer">You can work on a project individually or with a team. You can come as a team, or form a team at the event. We will have team formation activities at the beginning of the event for anybody looking for team.</p>
                </div>
            </div>
        </div>
    </div>
</section>