<div class="guests">
    <img src="https://s3.amazonaws.com/hackbcaiv/web_static/guests.png" class="guest">
    <img src="https://s3.amazonaws.com/hackbcaiv/web_static/guests.png" class="guest">
    <img src="https://s3.amazonaws.com/hackbcaiv/web_static/guests.png" class="guest">
    <img src="https://s3.amazonaws.com/hackbcaiv/web_static/guests.png" class="guest">
</div>
<div class="guests">
    <img src="https://s3.amazonaws.com/hackbcaiv/web_static/guests.png" class="guest">
    <img src="https://s3.amazonaws.com/hackbcaiv/web_static/guests.png" class="guest">
    <img src="https://s3.amazonaws.com/hackbcaiv/web_static/guests.png" class="guest">
    <img src="https://s3.amazonaws.com/hackbcaiv/web_static/guests.png" class="guest">
</div>