<section class="jumbo--fit jumbo--padding" id="guests">
    <h1 class="section__header">Guests</h1>
    <div class="flex-container flex-row-space-between" id="guest__container">
        <div class="guest">
            <figure class="guest__portrait">
                <img src="https://pbs.twimg.com/profile_images/646408334749339648/V0h5j8sY.png">
            </figure>
            <hgroup>
                <span class="guest__role">Emcee</span>
                <h1 class="guest__name">Tom Lehman</h1>
                <h2 class="guest__description">CEO and Co-founder of Genius</h2>
            </hgroup>
        </div>

        <div class="guest">
            <figure class="guest__portrait">
                <img src="http://i.forbesimg.com/media/lists/people/chris-wanstrath_416x416.jpg">
            </figure>
            <hgroup>
                <span class="guest__role">Speaker</span>
                <h1 class="guest__name">Chris Wanstrath</h1>
                <h2 class="guest__description">CEO of Github</h2>
            </hgroup>
        </div>

        <div class="guest">
            <figure class="guest__portrait">
                <img src="https://pbs.twimg.com/profile_images/730536217503109121/017Pc2vE.jpg">
            </figure>
            <hgroup>
                <span class="guest__role">Judge</span>
                <h1 class="guest__name">Josh Bancroft</h1>
                <h2 class="guest__description">Dev relations @Intel</h2>
            </hgroup>
        </div>   
    </div>
</section>