 <h1>hackBCA IV</h1>
      <h2>March 25-26, 2017. Lighting the Torch.</h2>
      <br>
      {% if current_user.is_authenticated %}
        <a href="/account"><input type="submit" value="ACCOUNT ({{ current_user.full_name().upper() }})" class="button"></a>
		<a href="/logout"><input type="submit" value="LOGOUT" class="button"></a>
      {% else %}
            <a href="/register"><input type="submit" value="APPLY" class="button"></a>
          <a href="/login"><input type="submit" value="LOGIN" class="button"></a>
      {% endif %}



      
    </div>