{% extends "web.base.html" %}

{% set nav_bar = [
  ("#home", "Home", True),
  ("#about", "About", False),
  ("#guests", "Guests", False),
  ("#faq", "FAQ", False),
  ("#sponsors", "Sponsors", False)
] -%}

{% block header %}{% endblock %}

{% block content %}
  {% with nav_bar = nav_bar %}
    {% include "navbar.html" %}
  {% endwith %}


{% block scripts %}
<script type="text/javascript" src="/static/js/app.min.js"> </script>
{% endblock %}


    <div class="page-container">
    <section>
      <div class="page-section" id="home">
        {% include "web.home.html" %}
      </div>
    </section>
    <section>
      <div class="page-section" id="about">
        {% include "web.about.html" %}
      </div>
    </section>
    <section>
      <div class="page-section" id="guests">
        {% include "web.guests.html" %}
      </div>
    </section>
    <section>
      <div class="page-section" id="faq">
        {% include "web.faq.html" %}
      </div>
    </section>
    <section>
      <div class="page-section" id="sponsors">
        {% include "web.sponsors.html" %}
      </div>
    </section>
    </div>



{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}