<div class="schedule">
	<div class="schedule-1">
		<h1>Sat, March 25</h1><br>
		<h2 class="time">10:00 AM</h2><h2 class="event"> - Registration Opens</h2><br>
		<h2 class="time">11:00 AM</h2><h2 class="event"> - Opening Ceremony</h2><br>
		<h2 class="time">1:00 PM</h2><h2 class="event"> - Lunch</h2><br>
		<h2 class="time">1:00 PM</h2><h2 class="event"> - Hacking Begins</h2><br>
		<h2 class="time">1:00 PM</h2><h2 class="event"> - Teambuilding</h2><br>
		<h2 class="time">6:30 PM</h2><h2 class="event"> - Dinner</h2><br>
		<h2 class="time">10:00 PM</h2><h2 class="event"> - Ice Cream</h2><br>
	</div>
	<div class="schedule-1">
		<h1>Sun, March 26</h1>
		<br>
		<h2 class="time">12:30 AM</h2><h2 class="event"> - Midnight Meal (Pizza)</h2><br>
		<h2 class="time">6:00 AM</h2><h2 class="event"> - Breakfast</h2><br>
		<h2 class="time">8:30 AM</h2><h2 class="event"> - Final Submissions</h2><br>
		<h2 class="time">9:00 AM</h2><h2 class="event"> - Presentations/Judging</h2><br>
		<h2 class="time">10:00 AM</h2><h2 class="event"> - Closing Ceremony</h2><br>
		<h2 class="time">11:30 am</h2><h2 class="event"> - Event Ends</h2><br>
	</div>
</div>