<div class="sponsors jumbo jumbo--padding">
   <div class="row row-1">
      <img src="https://s3.amazonaws.com/hackbcaiv/sponsors/aspen_uni.png" onclick="window.location.href = 'https://www.aspen.edu/'"; />
   </div>
   <br>
   <div class="row row-3">
      <img src="https://s3.amazonaws.com/hackbcaiv/sponsors/qlik.png" onclick="window.location.href = 'https://www.qlik.com/';" /> 
      <div class="flex-column">     
         <img src="https://s3.amazonaws.com/hackbcaiv/sponsors/twilio.svg" onclick="window.location.href = 'https://www.twilio.com/';"/>
      </div>
      <img src="https://s3.amazonaws.com/hackbcaiv/sponsors/upperline-code.jpg" onclick="window.location.href = 'http://www.upperlinecode.com/';"/>
   </div>
   <br>
   <div class="row row-3">
      <img src="https://s3.amazonaws.com/hackbcaiv/sponsors/livestream.png" onclick="window.location.href = 'https://livestream.com/';" />
      <div class="flex-column">
         <img src="https://s3.amazonaws.com/hackbcaiv/sponsors/corgan.jpg" onclick="window.location.href = 'http://www.corgan.com/';" /> 
         <img src="https://s3.amazonaws.com/hackbcaiv/sponsors/gofoton.png" onclick="window.location.href = 'http://welcome.gofoton.com/';" /> 
      </div>
      <img src="https://s3.amazonaws.com/hackbcaiv/sponsors/github.png" onclick="window.location.href = 'https://github.com/';" /> 
   </div>
   <br>
   <div class="row row-3">
      <img src="https://s3.amazonaws.com/hackbcaiv/sponsors/clickpay.png" onclick="window.location.href = 'https://www.clickpay.com/Home.aspx';" />
      <img src="https://s3.amazonaws.com/hackbcaiv/sponsors/myriad-supply.png" onclick="window.location.href = 'http://www.myriadsupply.com/';" />      
      <img src="https://s3.amazonaws.com/hackbcaiv/sponsors/jane-street.jpeg" onclick="window.location.href = 'https://www.janestreet.com/';" />        
   </div>
   <br>
   <div class="row row-5">
      <img src="https://s3.amazonaws.com/hackbcaiv/sponsors/rdv.jpg" onclick="window.location.href = 'http://www.roughdraft.vc/';"/>
      <img id="makeschool" src="https://s3.amazonaws.com/hackbcaiv/sponsors/makeschool.png" onclick="window.location.href = 'https://www.makeschool.com/';"/>
      <img src="https://s3.amazonaws.com/hackbcaiv/sponsors/startup_vitamins.png" onclick="window.location.href = 'https://www.startupvitamins.com/';"/>
      
   </div>
   <div class="row row-3">   
   <img src="https://s3.amazonaws.com/hackbcaiv/sponsors/wolfram.png" onclick="window.location.href = 'https://www.wolframalpha.com/';"/>          
      <img src="https://s3.amazonaws.com/hackbcaiv/sponsors/firebase.png" onclick="window.location.href = 'https://firebase.google.com/';"/>
      <img src="https://s3.amazonaws.com/hackbcaiv/sponsors/temboo.png" onclick="window.location.href = 'https://temboo.com/';"/>
   </div>
   <br>
   <br>
   <br>
   <!-- <img src="" />
      </div> -->
   <!--     <div class="row row-4">
      <img src=" />
          <img src="" />
      <img src="" />
      <img src="" />
      </div>
      <div class="row row-2">
      <img src="" />
      <img src="" />
      </div> -->
   <h2>In Partnership With</h2>
   <div id="partners">
   <div class="row row-2">
      <img src="https://s3.amazonaws.com/hackbcaiv/mlh.png" onclick="window.location.href = 'https://mlh.io/';" />
      <img src="https://s3.amazonaws.com/hackbcaiv/atcs.png" onclick="window.location.href = 'https://bcts.bergen.org/index.php/atcs-home';" />
   </div>
   </div>
</div>
</div>
