<section class="jumbo jumbo--padding" id="sponsors">
    <div id="sponsors__container">
        <h1 class="section__header--center">Sponsors</h1>
        <div class="row row-1">
            <img src="https://s3.amazonaws.com/hackbcaiv/wolfram.png" />
        </div>
        <div class="row row-3">
            <img src="https://s3.amazonaws.com/hackbcaiv/gofoton.png" />
            <div class="flex-column">
                <img src="https://s3.amazonaws.com/hackbcaiv/janestreet.png" />
                <img src="https://s3.amazonaws.com/hackbcaiv/livestream.png" />
            </div>
            <img src="https://s3.amazonaws.com/hackbcaiv/twilio.svg" />
        </div>
        <div class="row row-3">
            <img src="https://s3.amazonaws.com/hackbcaiv/roughdraft.png"" />
            <img src="" />
            <img src="" />
        </div>
        <div class="row row-6">
            <img src="assets/sponsors/genius.png" />
            <img src="assets/sponsors/mozilla.png" />
            <img src="assets/sponsors/ci.png" />
            <img src="" />
            <img src="" />
            <img src="" />
        </div>
        <div class="row row-4">
            <img src=" />
                <img src="" />
            <img src="" />
            <img src="" />
        </div>
        <div class="row row-2">
            <img src="" />
            <img src="" />
        </div>
        <h1 class="section__header--center">In Partnership With</h1>
        <div class="row row-2">
            <img src="https://s3.amazonaws.com/hackbcaiv/mlh.png" />
            <img src="https://s3.amazonaws.com/hackbcaiv/atcs.png" />
        </div>
    </div>
</section>