html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
progress {
    vertical-align: baseline;
}
template,
[hidden] {
    display: none;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
    outline-width: 0;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: inherit;
}
b,
strong {
    font-weight: bolder;
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
mark {
    background-color: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
svg:not(:root) {
    overflow: hidden;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
button,
input,
select,
textarea {
    font: inherit;
    margin: 0;
}
.text {
    color: initial;
}
optgroup {
    font-weight: bold;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
body {
    font-family: 'azo-sans-web', 'Atlas Grotesk';
    font-size: 16px;
    color: #111111;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 700px) {
    body {
        border: none;
    }
}
.main {
    border-left: 12px solid #000000;
}
.nav {
    padding: 2em 0 0 2em;
    text-align: left;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.nav a {
    color: #CECECE;
    text-decoration: none;
    margin: 0 1em;
}
.nav a:hover {
    color: #FFFFFF;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
}
.nav .selected {
    color: #FFFFFF;
    text-shadow: 0 0 1px #FFFFFF;
}
#scroll-nav {
    z-index: 9999;
    display: none;
    position: fixed;
    padding: 1em 2em;
    width: 100%;
    top: 0;
    background-color: #FFFFFF;
}
#scroll-nav a {
    color: #4c4c4c;
    text-decoration: none;
    margin: 0 1em;
}
#scroll-nav a:hover {
    color: #000000;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
}
#scroll-nav .selected {
    color: #000000;
}
.hero {
    height: 100vh;
    color: #FFFFFF;
    text-align: center;
    padding-top: 20%;
    background: url("https://s3.amazonaws.com/hackbcaiv/web_static/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.hero h1 {
    font-size: 4em;
    font-weight: 100;
    margin: 0;
}
@media screen and (max-width: 700px) {
    .hero h1 {
        font-size: 3em;
        padding-top: 1em;
    }
}
.hero h2 {
    font-size: 2em;
    font-weight: 100;
    color: #c3c3c3;
    margin: 0 0 1em 0;
}
@media screen and (max-width: 700px) {
    .hero h2 {
        font-size: 1em;
        margin: 1em 0;
    }
}
.hero .button {
    width: 13em;
    height: 3em;
    color: #FFFFFF;
    background: none;
    border: 1px solid #FFFFFF;
    margin: 1em 0.5em;
}
.hero .button:hover {
    background-color: #8BDA48;
    border: 1px solid #8BDA48;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 1;
    cursor: pointer;
}
@media screen and (max-width: 710px) {
    .hero .button {
        width: 20em;
        margin: 0.3em 1em;
    }
}
@media screen and (max-width: 710px) {
    .no-mobile {
        display: none;
    }
}
.info {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 4em 0;
    background-color: #FFFFFF;
}
.info::after {
    clear: both;
    content: "";
    display: block;
}
@media screen and (max-width: 1000px) {
    .info {
        padding: 4em 2em;
    }
}
@media screen and (max-width: 650px) {
    .info {
        padding: 4em 1em;
    }
}
.info h1 {
    font-weight: 100;
    font-size: 3em;
    text-align: center;
    color: #2a2a2a;
}
@media screen and (max-width: 760px) {
    .info h1 {
        font-size: 2em;
    }
}
.info h2 {
    font-size: 1.1em;
    font-weight: 100;
    color: #666;
    line-height: 2;
    margin-bottom: 2em;
}
@media screen and (max-width: 760px) {
    .info h2 {
        font-size: 1em;
        line-height: 1.8;
    }
}
.info .logo {
    display: block;
    width: 12.5em;
    height: 12.5em;
    margin-left: auto;
    margin-right: auto;
}
.info .info-pic {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
}
.info .info-pic:last-child {
    margin-right: 0;
}
@media screen and (max-width: 650px) {
    .info .info-pic {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
    }
    .info .info-pic:last-child {
        margin-right: 0;
    }
}
.schedule {
    width: 100%;
    padding: 4em 7%;
    background-color: #FFFFFF;
}
.schedule .schedule-1 h1 {
    font-size: 2.5em;
    font-weight: 100;
    color: #2a2a2a;
}
@media screen and (max-width: 1000px) {
    .schedule {
        padding: 4em 2em;
    }
}
@media screen and (max-width: 650px) {
    .schedule {
        padding: 4em 1em;
    }
}
.schedule .schedule-1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding: 0 3em;
}
.schedule .schedule-1:last-child {
    margin-right: 0;
}
.schedule .schedule-1 h2 {
    display: inline;
    font-weight: 100;
    line-height: 2;
}
.schedule .schedule-1 .time {
    color: #202020;
    background-color: #8BDA48;
    padding: 1px;
}
.schedule .schedule-1 .event {
    color: #666;
}
@media screen and (max-width: 850px) {
    .schedule .schedule-1 {
        float: left;
        display: block;
        padding: 0;
        width: 50%;
        margin: 0;
    }
    .schedule .schedule-1 h2 {
        display: inline;
        font-size: 1em;
        font-weight: 100;
        line-height: 2;
    }
    .schedule .schedule-1 h1 {
        font-size: 1.5em;
        font-weight: 100;
        color: #2a2a2a;
    }
    .schedule .schedule-2 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        padding-bottom: 4em;
    }
    .schedule .schedule-2:last-child {
        margin-right: 0;
    }
    @media screen and (max-width: 850px) {
        .schedule .schedule-2 {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 100%;
            padding: 2em 4em 4em 4em;
        }
        .schedule .schedule-2:last-child {
            margin-right: 0;
        }
    }
    .schedule .schedule-2 h2 {
        display: inline;
        font-weight: 100;
        line-height: 2;
    }
    .schedule .time {
        background-color: #8BDA48;
        padding: 1px;
    }
    .schedule .schedule-2 .event {
        color: #666;
    }
    @media screen and (max-width: 650px) {
        .schedule .schedule-2 h2 {
            line-height: 1.8;
        }
    }
}
#countdown {
    background-color: #000000;
}
#countdown .time {
    padding: 2em 0;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    width: 33.33%;
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    margin: 0;
}
#countdown .time:last-child {
    margin-right: 0;
}
#countdown .time h2 {
    margin: 0;
    padding: 0;
    font-size: 8em;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    text-shadow: 1px 1px 1px #FFFFFF;
}
@media screen and (max-width: 700px) {
    #countdown .time h2 {
        font-size: 4em;
    }
}
#countdown .time h3 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
}
@media screen and (max-width: 700px) {
    #countdown .time h3 {
        font-size: 1.5em;
    }
}
#map-container {
    width: 100%;
    height: 350px;
}
@media screen and (max-width: 768px) {
    #map-container {
        height: 300px;
    }
}
.divider {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 7%;
    padding-bottom: 7%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    margin: 0;
}
.divider .time:last-child {
    margin-right: 0;
}
.divider .time h2 {
    margin: 0;
    padding: 0;
    font-size: 8em;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    text-shadow: 1px 1px 1px #FFFFFF;
}
@media screen and (max-width: 700px) {
    .divider .time h2 {
        font-size: 4em;
    }
}
.divider .time h1 {
    margin: 0;
    padding: 0;
    font-size: 4em;
    font-weight: 500;
    text-align: center;
}
@media screen and (max-width: 700px) {
    .divider .time h3 {
        font-size: 1.5em;
    }
}
#faq-contact {
    display: inline-block;
    color: black;
}
.faq-link {
    display: inline-block;
    color: black;
}
.row {
    clear: both;
    padding: 0px;
    margin: 0px;
}
.faq-box {
    line-height: 200%;
    display: block;
    float: left;
    padding: 1%;
    text-align: center;
    margin: 1% 0 1% 1.6%;
}
.faq-box:first-child {
    margin-left: 0;
}
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}
.span_3_of_3 {
    width: 100%;
}
.span_2_of_3 {
    width: 66.13%;
}
.span_1_of_3 {
    width: 32.26%;
}
@media only screen and (max-width: 701px) {
    /* .col  {
     margin:  1% 0 1% 0%;
 }*/
    
    .faq-box.span_1_of_3 {
        width: 100% !important;
    }
    .hg_guest {
        width: 81% !important;
    }
    .guest_row1 {
        width: 96% !important;
    }
    .guest_row2 {
        width: 96% !important;
    }
    .faq-box {
        text-align: center;
        margin: 1% 0 1% 0%;
    }
    .span_3_of_3,
    .span_2_of_3,
    .span_1_of_3 {
        width: 32.26%;
    }
}
#divider_faq {
    background-image: url(https://s3.amazonaws.com/hackbcaiv/register.jpg);
    margin-bottom: 5%;
}
#divider_guests {
    background-image: url("https://s3.amazonaws.com/hackbcawebsite/specialguests.jpg");
}
#divider_sponsors {
    background-image: url("https://s3.amazonaws.com/hackbcawebsite/sponsors.jpg");
    margin-bottom: 5%;
    margin-top: 5%;
}
#divider_schedule {
    background-image: url("https://s3.amazonaws.com/hackbcawebsite/landing.png");
}
.ww {
    width: 100%;
    height: 100%;
    padding: 1em 10%;
}
@media screen and (max-width: 1000px) {
    .ww {
        padding: 4em 2em;
    }
}
@media screen and (max-width: 650px) {
    .ww {
        padding: 4em 1em;
    }
}
.ww h1 {
    font-weight: 400;
    font-size: 2.5em;
    color: #2a2a2a;
    margin-top: 2em;
}
.ww .faq h2 {
    font-weight: 500;
}
.ww .faq h3 {
    font-weight: 100;
    color: #444;
}
@media screen and (max-width: 700px) {
    .ww .faq h3 {
        font-size: 1em;
    }
}
.ww .faq .important {
    font-weight: 600;
}
.qww {
    padding-top: 20%;
    padding-bottom: 10%;
}
.details {
    width: 100%;
    height: 100%;
    padding: 15em 10%;
}
@media screen and (max-width: 1000px) {
    .details {
        padding: 4em 2em;
    }
}
@media screen and (max-width: 650px) {
    .details {
        padding: 4em 1em;
    }
}
.details h1 {
    display: inline-block;
    font-weight: 400;
    font-size: 1.5em;
    color: #2a2a2a;
    margin-top: 2em;
}
.details .event p {
    font-size: 1.1em;
}
.details .faq h2 {
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
    margin-top: 2em;
    font-weight: 600;
}
.details .faq h3 {
    font-weight: 100;
    color: #444;
}
@media screen and (max-width: 800px) {
    .details .faq h3 {
        font-size: 1em;
    }
    .details .faq h2 {
        color: black;
        font-style: bold;
        background-color: transparent;
    }
    .details .faq .question h1 {
        font-size: 1.2em;
        text-align: center;
    }
    #faq-contact {
        font-size: 1.2em;
        text-align: center;
    }
}
.question {
    text-align: center;
}
.details .faq .important {
    font-weight: 600;
}
.details .guests {
    margin: 0;
    margin-bottom: 1em;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}
.details .guests h1 {} .details .guests img {
    margin-right: 2.35765%;
    width: 23.23176%;
}
.details .guests img:last-child {
    margin-right: 0;
}
@media screen and (max-width: 800px) {
    .details .guests img {
        display: block;
        margin-right: 2.35765%;
        width: 40.29137%;
        margin: 1em 1em;
    }
    .details .guests img:last-child {
        margin-right: 0;
    }
}
@media screen and (max-width: 450px) {
    .details .guests img {
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%;
        margin: 2em 8%;
    }
    .details .guests img:last-child {
        margin-right: 0;
    }
}
.details .sponsors {
    text-align: center;
}
.sponsors img:hover {
    cursor: pointer;
}
.details .sponsors h1 {
    font-size: 4em;
    font-weight: 500;
}
@media screen and (max-width: 800px) {
    .details .sponsors h1 {
        margin-top: 12em;
        font-size: 3em;
    }
}
.details .sponsors h2 {
    font-size: 2.5em;
    font-weight: 100;
    margin: 6em 0 0 0;
}
@media screen and (max-width: 800px) {
    .details .sponsors h2 {
        font-size: 2em;
    }
}
.details .sponsors .row {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
}
.details .sponsors .row:last-child {
    margin-right: 0;
}
.details .sponsors .row-3 {
    display: flex;
    align-items: center;
    width: 100%;
}
.details .sponsors .row-3 img {
    flex: 1;
    width: calc(100% / 3);
    height: 100%;
}
.details .sponsors .row-4 {
    display: flex;
    align-items: center;
    width: 100%;
}
.details .sponsors .row-4 img {
    width: calc(100% / 4);
    height: 100%;
}
#makeschool img {
    flex: 1;
}
.details .sponsors .row-5 {
    display: flex;
    align-items: center;
    width: 100%;
}
.details .sponsors .row-5 img {
    flex: 1;
    width: calc(100% / 5);
    height: 100%;
}
.details .sponsors .row-6 {
    display: flex;
    align-items: center;
    width: 100%;
}
.details .sponsors .row-6 img {
    flex: 1;
    width: calc(100% / 6);
    height: 100%;
}
.details .sponsors .jumbo,
.details .sponsors .jumbo--fit {
    overflow: hidden;
}
.details .sponsors .jumbo #splash_img,
.details .sponsors .jumbo--fit #splash_img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 110vh;
    background-image: url("http://blogs.intel.com/evangelists/files/2015/04/IMG_5346.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%) scale(1.2);
}
.details .sponsors .row-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.details .sponsors .row-1 img {
    width: 35%;
    height: 100%;
}
.details .sponsors .row-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.details .sponsors .row-2 img {
    width: 35%;
    height: 100%;
}
@media only screen and (min-width: 992px) {
    .details .sponsors .row-2 img {
        width: 25%;
        height: 100%;
    }
}
@media screen and (max-width: 1000px) {
    #partners img {
        width: 25%;
        height: 100%;
    }
}
.details .sponsors [class^="row"] img {
    padding: 2vw;
}
.details .sponsors .flex-column {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.details .sponsors .flex-column img {
    width: 100%;
}
.img-big {
    height: 75% !important;
}
.in {
    background: url("https://s3.amazonaws.com/hackbcaiv/web_static/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #FFFFFF;
    height: 100%;
    padding: 10% 0;
    background-color: #000000;
}
.in h1 {
    font-size: 4em;
    font-weight: 100;
    margin: 0;
}
.in .text {
    width: 30em;
    height: 3em;
    border: 1px solid #FFFFFF;
    padding: 0 0.5em;
    margin: 0.5em 0;
}
@media screen and (max-width: 650px) {
    .in .text {
        width: 90%;
    }
}
@media screen and (max-width: 1040px) {
    #mentor_text {
        padding-top: 8.5%;
        font-size: 3.5em;
    }
}
@media screen and (max-width: 840px) {
    #mentor_text {
        padding-top: 12%;
        font-size: 3em;
    }
}
@media screen and (max-width: 560px) {
    #mentor_text {
        padding-top: 11%;
        font-size: 3.2em;
    }
}
.in .button {
    width: 30em;
    height: 3em;
    color: #FFFFFF;
    background: none;
    border: 1px solid #FFFFFF;
    margin: 0.5em 0;
}
@media screen and (max-width: 650px) {
    .in .button {
        width: 90%;
    }
}
.in .button:hover {
    background-color: #8BDA48;
    border: 1px solid #8BDA48;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 1;
    cursor: pointer;
}
.in .ta {
    text-align: center;
}
.in .ta textarea {
    width: 30em;
    height: 10em;
}
@media screen and (max-width: 650px) {
    .in .ta textarea {
        width: 90%;
    }
}
.login {
    height: 100vh;
    padding: 15em 0;
}
.login .text {
    width: 23em;
}
@media screen and (max-width: 600px) {
    .login .text {
        width: 90%;
    }
}
.login .button {
    width: 23em;
}
@media screen and (max-width: 600px) {
    .login .button {
        width: 90%;
    }
}
.register {
    padding: 17% 0;
}
@media screen and (max-width: 650px) {
    .register h1 {
        font-size: 3em;
        padding-top: 1em;
    }
}
#mentor_f label {
    max-width: 30em;
    display: inline-block;
}
.apply {
    padding: 10% 0;
}
@media screen and (max-width: 650px) {
    .apply h1 {
        font-size: 3em;
        padding-top: 1em;
    }
}
.profile {
    background-image: none;
    background-color: #FFFFFF;
    color: #000000;
}
.profile .nav a {
    color: #4c4c4c;
}
.profile .nav a:hover {
    color: #000000;
}
.profile h1 {
    font-size: 4em;
    font-weight: 100;
    margin-bottom: 0.2em;
}
@media screen and (max-width: 700px) {
    .profile h1 {
        font-size: 3em;
        padding-top: 1em;
    }
}
.profile .text {
    border: 2px solid #000000;
}
.profile .button {
    border: 2px solid #000000;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #000000;
}
.footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.7em 0 1em 0;
    margin-top: 16.5%;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}
.footer h1 {
    font-weight: 100;
    font-size: 3em;
}
.footer h2 {
    font-weight: 100;
}
.footer p {
    margin: 0;
}
.footer i {
    color: #FFFFFF;
    font-size: 2em;
    margin-right: 1em;
}
.footer i:hover {
    transform: scale(1.1);
    text-shadow: 0 0 2px #FFFFFF;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.footer .links {
    margin-top: 2em;
    margin-bottom: 1em;
}
.footer small {
    margin-top: 10em;
}
#mlh-trust-badge {
    display: block;
    max-width: 115px;
    min-width: 60px;
    position: absolute;
    right: 60px;
    top: 0;
    width: 15%;
    z-index: 1000;
}
.flashes {
    width: 100%;
    z-index: 9999;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-animation: slide-in 0.75s 0s forwards;
    -moz-animation: slide-in 0.75s 0s forwards;
    -ms-animation: slide-in 0.75s 0s forwards;
    -o-animation: slide-in 0.75s 0s forwards;
    animation: slide-in 0.75s 0s forwards;
}
.flashes.fade-out {
    -webkit-animation: slide-out 0.75s 0s forwards;
    -moz-animation: slide-out 0.75s 0s forwards;
    -ms-animation: slide-out 0.75s 0s forwards;
    -o-animation: slide-out 0.75s 0s forwards;
    animation: slide-out 0.75s 0s forwards;
}
.flashes li {
    list-style: none;
}
.flashes li.success {
    background-color: #2ecc71;
}
.flashes li.error {
    background-color: #e74c3c;
}
.flashes li.warning {
    background-color: #f39c12;
}
.flashes li.neutral {
    background-color: #3498db;
}
.flashes li .close {
    display: inline-block;
    top: auto;
    bottom: auto;
    position: absolute;
    right: 12px;
    height: 100%
}
.flashes li .close .icon-container {
    position: relative;
    height: 100%
}
.flashes li .close .icon-container .close-icon {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 50%;
    font-size: 24px;
    height: 24px;
    margin-top: -12px;
}
.flashes li p {
    margin: 0;
    font-size: 1.2em;
    padding: 1% 5%;
    color: #fff;
    display: inline-block;
    vertical-align: bottom;
}
@media screen and (max-width: 768px) {
    .flashes li p {
        padding: 2.5% 5%
    }
}
@media screen and (max-width: 480px) {
    .flashes li p {
        padding: 5% 5%
    }
}
.checkboxes {
    display: inline-block;
}
::-webkit-input-placeholder {
    padding-top: 5px;
}
:-moz-placeholder {
    padding-top: 5px;
}
::-moz-placeholder {
    padding-top: 5px;
}
:-ms-input-placeholder {
    padding-top: 5px;
}
#hack_fix {
    margin-left: 4px;
}
h2 .subtext {
    color: #202020 !important;
}
#sponsors {
    padding-top: 25vh;
}
.error_page {
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4em 0;
    background-color: black;
    background: url("https://s3.amazonaws.com/hackbcaiv/web_static/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.error_page::after {
    clear: both;
    content: "";
    display: block;
}
@media screen and (max-width: 1000px) {
    .error_page {
        padding: 4em 2em;
    }
}
@media screen and (max-width: 650px) {
    .error_page {
        padding: 4em 1em;
    }
}
.error_page h1 {
    font-weight: 100;
    font-size: 3em;
    text-align: center;
    color: white;
}
@media screen and (max-width: 760px) {
    .error_page h1 {
        font-size: 2em;
    }
}
.error_page h2 {
    font-size: 1.1em;
    font-weight: 100;
    color: #666;
    line-height: 2;
    margin-bottom: 2em;
}
@media screen and (max-width: 760px) {
    .error_page h2 {
        font-size: 1em;
        line-height: 1.8;
    }
}
.error_page .logo {
    display: block;
    width: 9em;
    height: 9em;
    -webkit-animation: mover 3.2s infinite alternate;
    animation: mover 3.2s infinite alternate;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-13px);
    }
}
@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-13px);
    }
}
#twrap {
    max-width: 35%;
    margin: 0 auto;
    line-height: 2;
}
.w {
    font-style: italic;
    font-weight: bold;
}
.guest_row1 {
    display: inline-block;
    padding: 0;
    margin: 0;
    outline: 0;
    width: 70%;
}
.guest_row2 {
    display: inline-block;
    padding: 0;
    margin: 0;
    outline: 0;
    width: 70%;
}
.guest_inner {
    display: inline-block;
    width: 65.57%;
}
#guest_row2_left {
    float: right;
}
#guest_row2_right {
    float: left;
}
.guest__role {
    background-color: #8BDA48;
    font-size: 0.8em;
    padding: 4px !important;
    margin: 0;
}
.guest__name {
    font-weight: 400;
    margin-bottom: 0 !important;
    margin-top: 8px !important;
}
.guest__description {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 0;
    margin-top: 4px !important;
}
.guest_link {
    color: rgba(0, 0, 0, 0.5);
}
.guest__portrait {
    width: 100%;
    height: 100%;
    margin: 0;
    margin-bottom: 0.7em;
    overflow: hidden;
}
.guest__portrait img {
    width: 100%;
    height: auto;
}
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}
.col {
    display: inline-block;
    float: left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child {
    margin-left: 0;
}
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}
.span_4_of_4 {
    width: 100%;
}
.span_3_of_4 {
    width: 74.6%;
}
.span_2_of_4 {
    width: 49.2%;
}
.span_1_of_4 {
    width: 23.8%;
}
@media only screen and (max-width: 540px) {
    .col {
        margin: 1% 0 1% 0.75%;
    }
    .span_1_of_4 {
        width: 48%;
    }
    .guest__description h2 {
        font-size: 0.85em;
    }
}
@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
    .span_1_of_4,
    .span_2_of_4,
    .span_3_of_4,
    .span_4_of_4 {
        width: 100%;
    }
}
/*  GRID OF TWO  */

.span_2_of_2 {
    width: 100%;
}
.span_1_of_2 {
    /*width: 32.26%;*/
    
    width: 49.2%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
}
@media only screen and (max-width: 480px) {
    .span_2_of_2,
    .span_1_of_2 {
        width: 50%;
    }
    .hg_guest {
        width: 85% !important;
        padding-top: 12.5px;
    }
}
#s_guests {
    padding-top: 8%;
    margin: 0 auto;
    text-align: center;
}
.partnership_text {
    text-align: center;
    font-size: 2.5em;
    font-weight: 200;
}
@media only screen and (max-width: 700px) {
    .partnership_text {
        font-size: 1.7em;
    }
}
@media only screen and (max-width: 500px) {
    .partnership_text {
        font-size: 1.2em;
    }
}
@media only screen and (max-width: 470px) {
    .partnership_text {
        font-size: 1em;
    }
}
.hg_guest {
    width: 85%;
    margin: 0 auto;
    padding-top: 3.5px;
}
#guest_details {
    padding: 7em 10%;
}
@media only screen and (max-width: 1160px) {
    .guest_row_1 {
        width: 85%;
    }
    .guest_row_2 {
        width: 85%;
    }
    h1.guest__name {
        font-size: 1.2em;
    }
    .guest__description {
        font-size: 1em;
        margin-top: 7px !important;
    }
}
@media only screen and (max-width: 1160px) {
    .guest_row_1 {
        width: 85%;
    }
    .guest_row_2 {
        width: 85%;
    }
    h1.guest__name {
        font-size: 1.2em;
    }
    .guest__description {
        font-size: 1em;
        margin-top: 7px !important;
    }
}
@media only screen and (max-width: 975px) {
    .hg_guest {
        width: 57% !important;
        padding-top: 12.5px;
    }
    .guest__description {
        font-size: 1em;
        margin-top: 13px !important;
    }
    .guest_row1 {
        width: 96% !important;
    }
    .guest_row2 {
        width: 96% !important;
    }
}
@media only screen and (max-width: 875px) {
    .hg_guest {
        width: 63% !important;
    }
}
@media only screen and (max-width: 775px) {
    .hg_guest {
        width: 72% !important;
    }
}
@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
    .span_1_of_4,
    .span_2_of_4,
    .span_3_of_4,
    .span_4_of_4 {
        width: 100% !important;
    }
}
}