{% extends "user.base.html" %}

{% block content %}
{% with nav_bar = nav_bar %}
<div class="in profile">
  {% include "navbar.html" %}
{% endwith %}


<h1>Profile</h1>
<div class="message">
        <h2>Hey, {{ current_user.first_name }}! Watch out for an email from us in the future, and check back here to see if you've got in!</h2>
        <p>Have a question? Shoot us an email at <a href="mailto:contact@hackbca.com">contact@hackbca.com</a>.</p>
        <input type="submit" value="SETTINGS" onclick="window.location='/account/settings';" class="button"><br>
        <input type="submit" value="LOG OUT" onclick="window.location='/logout';"class="button"><br>
      </div>

</div>
 {% include "footer.html" %}
 {% block scripts %}
  <script src="https://use.typekit.net/cdh1lxe.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="https://use.fontawesome.com/8e5e6b8c4e.js"></script>
 {% endblock %}
{% endblock %}