{% extends "user.base.html" %}

{% block content %}
{% with nav_bar = nav_bar %}
<div class="in profile">
  {% include "navbar.html" %}
{% endwith %}


<h1>Profile</h1>
<div class="message">
        <h2>Hey, {{ current_user.first_name }}! Watch out for an email from us in the future, and check back here to see if you've got in!</h2>
        <p>Have a question? Shoot us an email at <a href="mailto:contact@hackbca.com">contact@hackbca.com</a>.</p>
        <input type="submit" value="SETTINGS" class="button"><br>
        <input type="submit" value="LOG OUT" class="button"><br>
      </div>

</div>
 {% include "footer.html" %}

{% endblock %}