{% extends "user.base.html" %}

{% set nav_bar = [
  ("/#home", "Home", False)
] -%}

{% block content %}
{% with nav_bar = nav_bar %}
<div class="apply in">
  {% include "navbar.html" %}
{% endwith %}


  <h1>Hacker Registration</h1>
  <br>
    <p>Registration for hackBCA will close on the 15th.</p>
    <p>Please note that all applications are reviewed.</p>
  <br>
      
    <form method="POST" action="">
      {% for field in form %}
        {% if field.name == "mlh_terms" %}
        <br>
        <br>
        <a href="https://github.com/MLH/mlh-policies/blob/master/data-sharing.md">{{ field.description }}</a> {{ render_field(field) }}
          

        {% elif field.name == "mlh_coc" %}
        <br>
        <br>
        <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">{{ field.description }}</a> {{ render_field(field) }}

        {% elif field.id == "link1" %}
          <p>Feel free to include up to 3 links of your choice.</p>
          {{ render_field(field) }}

        {% elif field.type == "TextAreaField" %}
         <div class="ta">{{ render_field(field) }}</div>
        {% else %}
          {{ render_field(field) }}
        {% endif %}    
      {% endfor %}  
      <br>
      <br>
      <input type="submit" value="APPLY" class="button">
    </form>
    </div>
{% endblock %}
  
