{% extends "user.base.html" %}
<div class="apply in">
   {% set nav_bar = [
   ("/#home", "Home", False)
   ] -%}
   {% block content %}
   {% with nav_bar = nav_bar %}
   {% include "navbar.html" %}
   {% endwith %}


   <h1>Mentor Registration</h1>
   <p>hackBCA is made possible by the generous donations of companies and private individuals.</p>
   <p> As such, the event will only run if sufficient funds are received by March 5, 2017.</p>

   <form method="POST" action="check_phone()">


      {% for field in form %}
        {% if field.name == "mlh_terms" %}
          <p>{{ field.description }} {{ render_field(field) }}</p>

        {% elif field.name == "mlh_coc" %}
        <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf"><p>{{ field.description }} {{ render_field(field) }}</p></a>

        {% elif field.id == "github_link" %}
          <p>Feel free to include these links.</p>
          {{ render_field(field) }}

        {% else %}
          {{ render_field(field) }}
        {% endif %}    
      {% endfor %}
   
      <input type="submit" value="APPLY" class="button">
   </form>

</div>
{% endblock %}


{% block scripts %}


<script type="text/javascript">
    
  var check_phone = function(){
      var phone_number = document.getElementById("phone");
      var numbers = phone_number.value.replace(/\D/g, '');
      if(numbers.length == 10 || numbers.length == 11 || numbers.length == 12){
          var finalstr = "";
          if(numbers.length == 10){
              finalstr += numbers.substr(0,3) + "-" + numbers.substr(3,3) + "-" + numbers.substr(6,4);
          } 
          else if(numbers.length == 11){
              finalstr += "+" + numbers.substr(0,1) + "-" + numbers.substr(1,3) + "-" + numbers.substr(4,3) + "-" + numbers.substr(7,4);
           }
           else if(numbers.length == 12){
              finalstr += "+" + numbers.substr(0,2) + "-" + numbers.substr(2,3) + "-" + numbers.substr(5,3) + "-" + numbers.substr(8,4);
           }
           document.getElementById("phone").value = finalstr;
      }
  }
</script>
     
{% endblock %}