{% extends "user.base.html" %}

{% set nav_bar = [
  ("/#home", "Home", False)
] -%}

{% block content %}
{% with nav_bar = nav_bar %}
  {% include "navbar.html" %}
{% endwith %}

  <div class="full-page-container">
   <div class="page-section" id="register">
      <div class="container">
         <div class="cover">
            <div class="content">
               <h1 class="title">Mentor Registration</h1>
                <form method="POST" action="">
                 {% for field in form %}

                    {% if field.type == "BooleanField" %}
                      <h2>{{ field.description }}</h2>
                    {% endif%}

                    {{ render_field(field) }}    
                  {% endfor %}
                  <div class="buttons">
                    <button class="button" type="submit">Register!</button>
                  </div>

                </form>
            </div>
         </div>
      </div>
   </div>
</div>
  
     
{% endblock %}